/* Default CSS */
/* Mobile Portrait Displays */

@media (min-width: 300px) {

    p {
        margin:10px 0px;
        font-family: 'Roboto Condensed', sans-serif;
    }
    
    .rings {
        height:300px;
        width:300px;
        cursor: pointer;
    }
    
    .gridCont {
        display:grid;
        grid-row-gap:20px;
        width:100%;
    }
    
    .headerText {
        display:none;
    }
    
    .headerImage {
        display:block;
        width:90%;
        margin:0 auto;
    }

    .headerImage img {
        width:100%;
    }

    .aboutAmara{
      padding:20px;
      background: var(--background);
      font-size:18px;
      font-family: 'Roboto Condensed', sans-serif;
      color:var(--main-color);

    }
    .aboutAmara h2 {
        width:100%;
        font-size:30px;
        text-align:center;
    }
    .aboutAmara img {
        max-width: 100%;
        margin:20px 0px;
    }
    
    .discordLink {
        display:block;
        background: var(--background);
        padding:20px;
        color:var(--main-color);
    }

    .discordLink p {
        padding:0px 20px;
        font-size:20px;
    }
    
    .discordLink a {
        display:block;
        margin:20px auto;
        width:150px;
    }
    
    .discordLink img {
        width:150px;
    }
    
    .footer {
        grid-row:3/4;
        padding:10px 20px 10px 10px;
        background: var(--background);
        display:flex;
        justify-content: space-between;
    }
    
    .footer img {
        width:50px;
        height:50px;
    }

    .legal{
        grid-row:4/5;
        background:var(--background);
        z-index:999;
        text-align:center;
        font-size:10px;
        display:block;
        padding:20px;
        color:var(--main-color);
        font-family:"Roboto Condensed", sans-serif;
    }

    .footerRings {
        grid-row:5/6;
    }

    .runish {
        width:100%;
    }

    .smallRings {
        display:block;
        width:200px;
        height:200px;
        margin:0 auto;
    }
}