/* Default CSS */
/* Mobile Portrait Displays */

@media (min-width: 300px) {

    .floatL{float:left; margin:10px 10px 10px 0px}
    .floatR{float:right; margin:10px 0px 10px 10px}
    .center{clear:both; display:block; margin:0 auto;}

    /* common paragraph style site wide */
    p {
        margin:10px 0px;
        font-family: 'Roboto Condensed', sans-serif;
        font-size:18px;
    }
    
    .gridCont {
        display:grid;
        grid-template-columns: 100%;
        grid-column-gap:0;
        grid-row-gap:10px;
    }
    
    .headerText {
        grid-row:1/2;
        display:block;
        font-size:18px;
        background: var(--background);
        color:var(--main-color);
    }

    .headerImg {
        display:block;
        width:50%;
        max-width:300px;
        float:left;
        margin:0 20px 20px 0;
    }

    .aboutAmara {
        grid-row:3/4;
        padding:20px;
        background: var(--background);
        font-family: 'Roboto Condensed', sans-serif;
        color:var(--main-color);

    }

    .aboutAmara h2 {
        width:100%;
        font-size:20px;
        text-align:center;
    }

    .imageSize{
        max-width:120px;
    }

    .bigImage{
        max-width:300px;
    }

    .signature {
        float:right;
    }
    
    .discordLink {
        grid-row:2/3;
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        background: var(--background);
        padding:20px;
        color:var(--main-color);
    }

    .discordLink p {
        font-size:14px;
    }

    .discordLinkWrap {
        text-decoration: none;
    }

    .discordLink img {
        width:100px;
        margin-left:20px;
    }
    
    .discordLink:hover {
        color:rgb(225, 0, 255);
        background:var(--link-background);
    }
    
    .footer {
        grid-row:4/5;
        padding:20px 0px 20px 0px;
        background: var(--background);
    }
    
    .socialWrap {
        display:flex;
        justify-content: space-evenly;
    }

    .socialWrap img {
        width:75px;
    }

    .legal{
        grid-row:5/6;
        background:var(--background);
        z-index:999;
        text-align:center;
        font-size:12px;
        display:block;
        padding:20px;
        color:var(--main-color);
        font-family:"Roboto Condensed", sans-serif;
    }

    .footerRings {
        grid-row:6/7;
    }

    .footerRings .runish{
        display:block;
        width:75%;
        margin:0 auto;
    }

    .smallRings {
        display:block;
        width:200px;
        height:200px;
        margin:0 auto;
    }
}