/* Desktop CSS */
@media (min-width: 900px) {
    p {
        margin:10px 0px;
        font-family: 'Roboto Condensed', sans-serif;
    }
    
    .mobileHide{
        display:none;
    }

    .rings {
        height:300px;
        width:300px;
        cursor: pointer;
    }
    
    .gridCont {
        display:grid;
        grid-template-columns: 30% 68%;
        grid-row-gap:20px;
        grid-column-gap:2%;
        width:100%;
    }
    
    .headerText {
        grid-column:1/3;
        grid-row:1/2;
        color:var(--main-color);
        font-size:30px;
        padding:8px;
        background:var(--background);
    }
    
    .headerImage {
        display:none;
        width:90%;
        margin:0 auto;
    }

    .headerImage img {
        width:100%;
    }

    .aboutAmara{
        grid-column: 2/3;
        grid-row: 2/5;
        padding:50px;
        background: var(--background);
        font-size:25px;
        font-family: 'Roboto Condensed', sans-serif;
        color:var(--main-color);
        margin:0px 0;

    }
    .aboutAmara h2 {
        width:100%;
        font-size:40px;
        text-align:center;
    }
    .aboutAmara img {
        max-width:200px;
        margin:20px 20px;
    }
    .floatL{
        float:left;
    }
    .floatR{
        float:right;
    }
    .clearB {
        clear:none;
    }
    
    .discordLink {
        grid-column: 1/2;
        grid-row:2/3;
        display:flex;
        margin:0px;
        padding:20px;
        justify-content:space-around;
        align-items: center;
        background: var(--background);
        color:var(--main-color);
    }

    .discordLink p {
        font-size:15px;
        padding:0 5px
    }
    
    .discordLink a {
        display:block;
        margin:20px;
        width:150px;
    }
    
    .discordLink img {
        width:150px;
    }
    
    .footer {
        grid-row:4/5;
        grid-column:1/3;
        padding:10px;
        background: var(--background);
    }

    .socialIcons {
        margin:10px;
        display:flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .footer img {
        width:50px;
        height:50px;
    }

    .legal{
        grid-column:1/3;
        grid-row:5/6;
        background:var(--background);
        z-index:999;
        text-align:center;
        font-size:12px;
        display:block;
        padding:20px;
        color:var(--main-color);
        font-family:"Roboto Condensed", sans-serif;
    }

    .footerRings {
        grid-column:1/3;
        display:block;
        width:100%;

    }

    .runish {
        display:block;
        width:50%;
        margin:0 auto;
    }

    .smallRings {
        display:block;
        width:200px;
        height:200px;
        margin:0 auto;
    }
    
}