/* Desktop CSS */
@media (min-width: 1240px) {
    p {
        margin:10px 0px;
        font-family: 'Roboto Condensed', sans-serif;
    }

    .desktopHide {
        display:none;    
    }

    #app {
        max-width:1000px;
    }
    
    .mobileHide{
        display:block;
    }

    .tabletHide {
        display:block;
    }

    .rings {
        height:300px;
        width:300px;
        cursor: pointer;
    }
    
    .gridCont {
        display:grid;
        grid-template-columns: 68% 30%;
        grid-row-gap:20px;
        grid-column-gap:2%;
        width:100%;
    }
    
    .headerText {
        grid-column:1/3;
        grid-row:1/2;
        color:var(--main-color);
        font-size:30px;
        padding:8px;
        background:var(--background);
    }
    
    .headerImg {
        display:block;
        width:300px;
        float:right;
        margin:0 auto;
    }

    .headerImg img {
        width:100%;
    }

    .aboutAmara{
        grid-column: 1/2;
        grid-row: 2/4;
        padding:50px;
        background: var(--background);
        font-size:20px;
        font-family: 'Roboto Condensed', sans-serif;
        color:var(--main-color);
        margin:0px 0;

    }
    .aboutAmara h2 {
        width:100%;
        font-size:30px;
        text-align:center;
    }
    .aboutAmara {
        max-width:none;
        margin:10px 20px;
    }
    .imageSize {
        width:150px;
    }
    .floatL{
        float:left;
    }
    .floatR{
        float:right;
    }
    .clearB {
        clear:none;
    }
    .desktopFloatL {
        float:left;
    }
    .desktopFloatR {
        float:right;
    }
    .arriImage{
        display:inline;
        max-width:none;
        margin:0 auto;
        width:400px;
    }
    
    .discordLink {
        grid-column: 2/3;
        grid-row:2/3;
        display:block;
        margin:0px;
        padding:20px;
        background: var(--background);
        color:var(--main-color);
    }

    .discordLink p {
        font-size:20px;
        padding:0 5px
    }
    
    .discordLink a {
        margin:10px auto;;
        width:150px;
    }
    
    .discordLink img {
        width:150px;
    }
    
    .footer {
        grid-row:3/4;
        grid-column:2/3;
        padding:10px;
        background: var(--background);
    }

    .socialWrap {
        margin:10px;
        display:flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .footer img {
        width:50px;
        height:50px;
    }

    .legal{
        grid-column:1/3;
        grid-row:5/6;
        background:var(--background);
        z-index:999;
        text-align:center;
        font-size:12px;
        display:block;
        padding:20px;
        color:var(--main-color);
        font-family:"Roboto Condensed", sans-serif;
    }

    .footerRings {
        grid-column:1/3;
        grid-row:6/7;
        display:block;
        width:100%;

    }

    .runish {
        display:block;
        width:50%;
        margin:0 auto;
    }

    .smallRings {
        display:block;
        width:200px;
        height:200px;
        margin:0 auto;
    }
    
}