@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

@font-face {
    font-family: runes;
    src: url('../fonts/runes.woff2');
}

:root {
    --background: rgba(37, 35, 35, .5);
    --backgroundDarker: rgba(80, 15, 78, 0.5);
    --link-background: rgba(107, 4, 81, 0.7);
    --main-color:  rgb(255, 0, 128);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(88,0,46);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(255, 0, 128);;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: hsl(298, 100%, 69%);
  }


body {
    padding:0px;
    margin:0px;
    background-image:url('../imgs/background.png');
    background-repeat: repeat-y;
    background-size: cover;
}

.block {
    padding:20px;
    margin:10px 0;
    background: var(--background);
}

.blockDarker {
    background: var(--backgroundDarker);
}



.main{
    display:block;
    width:100%;
    margin:20px auto;
}

.flexRow {
    display:flex;
    margin:10px;
    align-items:space-evenly;
}

hr {
    border:solid 1px var(--main-color);
    margin:10px 10px;
}

h1 {
    font-family: 'Permanent Marker', sans-serif;
    font-weight:1000;
    margin:0px 0px 10px 0px;
    color:var(--main-color);
}

h2 {
    font-size:20px;
    font-family: 'Germania One', sans-serif;
    margin:0px 0px 10px 0px;
    color:var(--main-color);
}

a {
    cursor: pointer;
    margin:0;
    color:var(--main-color);
}

a:visited {
    color:var(--main-color);
}

a:hover {
    color:rgb(225, 0, 255);
}

p {
    color:var(--main-color);
    margin:0px 0px 10px 0px
}

.centerText {
    text-align:center;
}

