
body {
    margin:0;
    padding:0;
    background-image:url('../imgs/background.png');
    background-repeat: no-repeat;
    background-size: inherit;
}

p {
    margin:10px 0px;
    font-family: 'Roboto Condensed', sans-serif;

}

h1 {
    font-size:25px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:1000;
    margin:0;
}

h2 {
    font-size:20px;
    font-family: 'Roboto Condensed', sans-serif;
    margin:5px 0px;
}

a{
    cursor: pointer;
    margin:0;
    color:var(--main-color);
}

a:hover {
    color:#FF00FF;
}

.center {
    text-align:center;
}

@media (min-width: 820px) {
.desktopHide {
    display:none;
}
}

.flex {
  display: flex;
  justify-content: center;
  align-items: top;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fullScreen {
  margin-top:20px;
}

.fullScreenCenter {
    height:100vh;
    width:100vw;
}

/* color:rgb(255, 0, 128); */

.headerSize {
  height: 10vh;
  width: 50vw;
}

.rings {
  height:100px;
  width:100px;
  cursor: pointer;
}

.gridCont {
  display:grid;
  height:700px;
  width:800px;
  grid-template-columns: 495px 295px;
  grid-template-rows: 100px 100px 100px 100px 100px 100px 100px;
  column-gap: 10px;
  row-gap: 10px;
  padding:10px;
}

.gridHeader {
  grid-row:1/2;
  grid-column:1/2;
  text-align:center;
  background: var(--background);
  font-size:40px;
  line-height:100px;
  color:var(--main-color);
  font-family: 'Permanent Marker', sans-serif ;
}

.aboutAmara{
  grid-column: 1/2;
  grid-row: 2/6;
  background: var(--background);
  font-size:18px;
  font-family: 'Roboto Condensed', sans-serif;
  color:var(--main-color);
  margin:0;
  padding:20px 20px;
}

.discordLink {
    grid-row: 1/4;
    grid-column: 2/3;
    background: var(--background);
    padding:20px;
    color:var(--main-color);
}

.discordLink a {
    display:block;
    margin:0 auto;
    width:150px;
}

.discordLink img {
    width:150px;
}

.aside {
    grid-row: 4/6;
    grid-column: 2/3;
    background-image: url('../imgs/wta-icon.jpg');
    background-position:center;
    opacity:.5;
    background-size: cover;
}

.aside img {
    height:90%;
    margin:0 auto;

}

.footer {
    grid-row:6/7;
    grid-column:1/3;
    padding:10px;
    height:110px;
    background: var(--background);
}

.socialIcons {
    margin:10px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer img {
    width:50px;
    height:50px;
}

.legal{
    text-align:center;
    font-size:12px;
    display:block;
    color:var(--main-color);
    font-family:"Roboto Condensed", sans-serif;
}

.witchMagic {
    z-index:-999;
    width:100%;
    height:300px;
    position:fixed;
    bottom:-104px;
    background-image:url('../imgs/witchcraft.gif');
    background-blend-mode: screen;
    opacity:1;
    background-size: 700px;
    background-repeat: repeat-x;
}









/* Slim */
/* Slim */
/* Slim */










@media (max-width: 820px) {
    body {
        margin:0;
        padding:0;
        background-image:url('../imgs/background.png');
        background-repeat: repeat-y;
        background-size: inherit;
    }

    p {
        margin:10px 0px;
        font-family: 'Roboto Condensed', sans-serif;
    }
    
    h1 {
        font-size:30px;
        font-family: 'Permanent Marker', sans-serif;
        font-weight:1000;
        margin:0px;
        text-align:center;
    }
    
    h2 {
        text-align:center;
        font-size:20px;
        font-family: 'Roboto Condensed', sans-serif;
        margin:5px 0px;
    }
    
    a {
        cursor: pointer;
        margin:0;
    }
    
    .center {
        text-align:center;
    }
    
    .flex {
      display: flex;
      justify-content: center;
      align-items: top;
    }
    
    .flexCenter {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .fullScreen {
      margin-top:10px;
    }
    
    /* color:rgb(255, 0, 128); */
    
    .headerSize {
      height: 10vh;
      width: 50vw;
    }

    .headerimg {
        display:block;
        width:100%;
        background-image:url('../imgs/wta-icon.jpg');
        margin:0 auto;
        margin-bottom:20px;
    }
    
    .rings {
      height:300px;
      width:300px;
      cursor: pointer;
    }
    
    .gridCont {
      display:block;
      width:92%;
    }
    
    .gridHeader {
      display:none;
    }
    
    .aboutAmara{
      background: var(--background);
      font-size:18px;
      font-family: 'Roboto Condensed', sans-serif;
      color:var(--main-color);
      margin:0;
      padding:20px 20px;
    }

    .aboutAmara h1 {
        width:100%;
        max-width:469px;
        margin:0 auto;
    }
    
    .discordLink {
        display:flex;
        justify-content: space-around;
        align-items: center;
        background: var(--background);
        margin:20px 0;
        padding:20px;
        color:var(--main-color);
    }

    .discordLink p {
        padding:0px 20px;
        font-size:20px;
    }
    
    .discordLink a {
        display:block;
        margin:0 auto;
        width:150px;
    }
    
    .discordLink img {
        width:150px;
    }
    
    .aside {
       display:none;
    }
    
    .aside img {
        height:100px;;
        margin:0 auto;
    }
    
    .footer {
        padding:10px;
        margin-bottom:100px;
        height:135px;
        background: var(--background);
    }

    .socialIcons {
        margin:10px;
        display:flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .footer img {
        width:50px;
        height:50px;
    }

    .legal{
        text-align:center;
        font-size:12px;
        display:block;
        color:var(--main-color);
        font-family:"Roboto Condensed", sans-serif;
    }
    
    .witchMagic {
        z-index:-999;
        width:100%;
        height:300px;
        position:fixed;
        bottom:-104px;
        background-image:url('../imgs/witchcraft.gif');
        background-blend-mode: screen;
        opacity:1;
        background-size: 700px;
        background-repeat: repeat-x;
    }
}


@media (max-width: 500px) {
    body {
        margin:0;
        padding:0;
        background-image:url('../imgs/background.png');
        background-repeat: repeat-y;
        background-size: inherit;
    }

    p {
        margin:10px 0px;
        font-family: 'Roboto Condensed', sans-serif;
    }
    
    h1 {
        font-size:30px;
        font-family: 'Permanent Marker', sans-serif;
        font-weight:1000;
        margin:0px;
        text-align:center;
    }
    
    h2 {
        text-align:center;
        font-size:20px;
        font-family: 'Roboto Condensed', sans-serif;
        margin:5px 0px;
    }
    
    a {
        cursor: pointer;
        margin:0;
    }
    
    .center {
        text-align:center;
    }
    
    .flex {
      display: flex;
      justify-content: center;
      align-items: top;
    }
    
    .flexCenter {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .fullScreen {
      margin-top:10px;
    }
    
    /* color:rgb(255, 0, 128); */
    
    .headerSize {
      height: 10vh;
      width: 50vw;
    }

    .headerimg {
        display:block;
        width:100%;
        background-image:url('../imgs/wta-icon.jpg');
        margin:0 auto;
        margin-bottom:20px;
    }
    
    .rings {
      height:300px;
      width:300px;
      cursor: pointer;
    }
    
    .gridCont {
      display:block;
      width:92%;
    }
    
    .gridHeader {
      display:none;
    }
    
    .aboutAmara{
      background: var(--background);
      font-size:18px;
      font-family: 'Roboto Condensed', sans-serif;
      color:var(--main-color);
      margin:0;
      padding:20px 20px;
    }

    .aboutAmara h1 {
        width:100%;
        max-width:469px;
        margin:0 auto;
    }
    
    .discordLink {
        display:flex;
        justify-content: space-around;
        align-items: center;
        background: var(--background);
        margin:20px 0;
        padding:20px;
        color:var(--main-color);
    }

    .discordLink p {
        padding:0px 20px;
        font-size:20px;
    }
    
    .discordLink a {
        display:block;
        margin:0 auto;
        width:150px;
    }
    
    .discordLink img {
        width:150px;
    }
    
    .aside {
       display:none;
    }
    
    .aside img {
        height:100px;;
        margin:0 auto;
    }
    
    .footer {
        padding:10px;
        margin-bottom:100px;
        height:135px;
        background: var(--background);
    }

    .socialIcons {
        margin:10px;
        display:flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .footer img {
        width:50px;
        height:50px;
    }

    .legal{
        text-align:center;
        font-size:12px;
        display:block;
        color:var(--main-color);
        font-family:"Roboto Condensed", sans-serif;
    }
    
    .witchMagic {
        z-index:-999;
        width:100%;
        height:300px;
        position:fixed;
        bottom:-104px;
        background-image:url('../imgs/witchcraft.gif');
        background-blend-mode: screen;
        opacity:1;
        background-size: 700px;
        background-repeat: repeat-x;
    }
}
}