/* Breakpoint 768px - For displays less than 786px width */
/* Tablet Portrait Displays */

@media (min-width: 768px) {
   /* Floats for images in podcast decription */
   .floatL{float:left; margin:10px 10px 10px 0px}
   .floatR{float:right; margin:10px 0px 10px 10px}
   .center{clear:both; display:block; margin:0 auto;}

   /* provides background image to site */
   
   
   /* change font-size rule for more control over readability on varying display sizes */
   p {
       margin:10px 0px;
       font-family: 'Roboto Condensed', sans-serif;
       font-size:20px;
   }
   

   /* Header Image - flame icon */
   .headerImg {
       display:block;
       width:40%;
       max-width:300px;
       float:left;
       margin:0 20px 20px 0;
   }

   /* Container for the biggest chunk of the site */
   .aboutAmara {
       grid-row:2/6;
       grid-column:1/2;
       padding:20px;
       background: var(--background);
       font-family: 'Roboto Condensed', sans-serif;
       color:var(--main-color);
   }

   /* Rule changes first header in podcast description */
   .aboutAmara h2 {
       width:100%;
       font-size:30px;
       text-align:center;
   }

   .signature p {
    font-size:25px;
    float:right;     
    margin:0;
    }

    /* float signature right -Sean & Andy */
    .signature h1 {
        font-size:30px;
        margin:0;
    }

   .podcastSignoff {
       grid-row:3/4;
       grid-column:2/3;
       background:var(--background);
   }

   .podcastSignoff p {
       font-size:20px;
       margin:10px;
       color:var(--main-color);
   }

   /* Last bit in podcast description section */
   .podcastSignoff h1 {
       font-size:25px;
       text-align:center;
       color:var(--main-color);
   }

   /* controls image sizes in the podcast description section */
   .imageSize{
       max-width:200px;
   }
   .bigImage{
       max-width:180px;
   }

   /* Container for Legal block */
   .legal{
       grid-row:5/6;
       grid-column:2/3;
       background:var(--background);
       z-index:999;
       text-align:center;
       font-size:14px;
       display:flex;
       flex-direction:column;
       justify-content: space-evenly;
       padding:20px;
       color:var(--main-color);
       font-family:"Roboto Condensed", sans-serif;
   }

   /* Controls Ring size at the footer */
   .smallRings {
       display:block;
       width:200px;
       height:200px;
       margin:0 auto;
   }

  
}